.sanjiao::after{
  content: "";
  width: 0;
  height: 0;
  float: right;

  cursor: pointer;
  border-left: 8px solid skyblue;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}